In [1]:
import yaml
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
from urllib.parse import quote
import pycountry

In [2]:
with open('./config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_oltp= config['AW_OLTP']
    config_olap= config['AW_OLAP']
    print(config_oltp)

{'drivername': 'postgresql', 'dbname': 'AW-OLTP', 'user': 'dropaax', 'password': 'lastimakevin1@', 'host': 'postgresql-ciencia-de-datos.postgres.database.azure.com', 'port': 5432}

In [3]:
url_oltp = (f"{config_oltp['drivername']}://{config_oltp['user']}:{quote(config_oltp['password'])}@{config_oltp['host']}:"
            f"{config_oltp['port']}/{config_oltp['dbname']}")
url_olap = (f"{config_olap['drivername']}://{config_olap['user']}:{quote(config_olap['password'])}@{config_olap['host']}:"
            f"{config_olap['port']}/{config_olap['dbname']}?sslmode=require")

print(url_oltp)
print(url_olap)

postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLTP
postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLAP?sslmode=require

In [4]:
oltp = create_engine(url_oltp)
olap = create_engine(url_olap)

In [5]:
inspector_oltp = inspect(oltp)
inspector_olap = inspect(olap)

In [6]:
dim_sale_territory = pd.read_sql_table('SalesTerritory', oltp, schema='Sales')

In [7]:
dim_sale_territory.index.name = 'SalesTerritoryKey'
dim_sale_territory.index += 1

In [8]:
dim_sale_territory = dim_sale_territory.rename(columns={'TerritoryID': 'SaleTerritoryAlternateKey'})

In [9]:
dim_sale_territory = dim_sale_territory.rename(columns={'Name': 'SaleTerritoryRegion'})

In [10]:
dim_sale_territory = dim_sale_territory.rename(columns={'Group': 'SalesTerritoryGroup'})

In [11]:
dim_sale_territory['CountryRegionCode'] = dim_sale_territory['CountryRegionCode'].apply(lambda x: pycountry.countries.get(alpha_2=x).name)
dim_sale_territory = dim_sale_territory.rename(columns={'CountryRegionCode': 'SalesTerritoryCountry'})

In [12]:
dim_sale_territory = dim_sale_territory.drop('ModifiedDate', axis=1)

In [13]:
dim_sale_territory = dim_sale_territory.drop('rowguid', axis=1)

In [14]:
dim_sale_territory = dim_sale_territory.drop('CostLastYear', axis=1)

In [15]:
dim_sale_territory = dim_sale_territory.drop('CostYTD', axis=1)

In [16]:
dim_sale_territory = dim_sale_territory.drop('SalesLastYear', axis=1)

In [17]:
dim_sale_territory = dim_sale_territory.drop('SalesYTD', axis=1)

In [18]:
dim_sale_territory.head(11)

,SaleTerritoryAlternateKey,SaleTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup
SalesTerritoryKey,,,,
1,1,Northwest,United States,North America
2,2,Northeast,United States,North America
3,3,Central,United States,North America
4,4,Southwest,United States,North America
5,5,Southeast,United States,North America
6,6,Canada,Canada,North America
7,7,France,France,Europe
8,8,Germany,Germany,Europe
9,9,Australia,Australia,Pacific
10,10,United Kingdom,United Kingdom,Europe

In [19]:
dim_sale_territory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SaleTerritoryAlternateKey  10 non-null     int64
 1   SaleTerritoryRegion        10 non-null     object
 2   SalesTerritoryCountry      10 non-null     object
 3   SalesTerritoryGroup        10 non-null     object
dtypes: int64(1), object(3)
memory usage: 452.0+ bytes

In [20]:
dim_sale_territory.to_sql('DimSalesTerritory', olap, if_exists='replace', index_label='SalesTerritoryKey')

10