In [1]:
import yaml
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
from urllib.parse import quote
import holidays
from datetime import date

In [2]:
with open('./config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_oltp= config['AW_OLTP']
    config_olap= config['AW_OLAP']
    print(config_oltp)

{'drivername': 'postgresql', 'dbname': 'AW-OLTP', 'user': 'dropaax', 'password': 'lastimakevin1@', 'host': 'postgresql-ciencia-de-datos.postgres.database.azure.com', 'port': 5432}

In [3]:
url_oltp = (f"{config_oltp['drivername']}://{config_oltp['user']}:{quote(config_oltp['password'])}@{config_oltp['host']}:"
            f"{config_oltp['port']}/{config_oltp['dbname']}")
url_olap = (f"{config_olap['drivername']}://{config_olap['user']}:{quote(config_olap['password'])}@{config_olap['host']}:"
            f"{config_olap['port']}/{config_olap['dbname']}?sslmode=require")

print(url_oltp)
print(url_olap)

postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLTP
postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLAP?sslmode=require

In [4]:
oltp = create_engine(url_oltp)
olap = create_engine(url_olap)

In [5]:
inspector_oltp = inspect(oltp)
inspector_olap = inspect(olap)

In [6]:
schemas = inspector_oltp.get_schema_names()
print("Esquemas en la base de datos OLTP:")
for schema in schemas:
    print(schema)

Esquemas en la base de datos OLTP:
HumanResources
Person
Production
Purchasing
Sales
information_schema

In [7]:
# Inspeccionar y listar tablas en cada esquema
print("\nTablas en cada esquema de la base de datos OLTP:")

tables = inspector_oltp.get_table_names(schema='Person')

for table in tables:
    print(f"  - {table}")

Tablas en cada esquema de la base de datos OLTP:
  - CountryRegion
  - ContactType
  - AddressType
  - StateProvince
  - BusinessEntity
  - Person
  - EmailAddress
  - Address
  - Password
  - BusinessEntityContact
  - PersonPhone
  - PhoneNumberType
  - BusinessEntityAddress

In [8]:
# Inspeccionar columnas de una tabla específica
print("\nColumnas en la tabla 'Person' en el esquema 'public' (si existe):")
try:
    columns = inspector_oltp.get_columns('Person', schema='Person')
    for column in columns:
        print(f"  - {column['name']} ({column['type']})")
except Exception as e:
    print(f"Error al obtener columnas: {e}")

Columnas en la tabla 'Person' en el esquema 'public' (si existe):
  - BusinessEntityID (INTEGER)
  - PersonType (CHAR(2))
  - NameStyle (BOOLEAN)
  - Title (VARCHAR(8))
  - FirstName (VARCHAR(50))
  - MiddleName (VARCHAR(50))
  - LastName (VARCHAR(50))
  - Suffix (VARCHAR(10))
  - EmailPromotion (INTEGER)
  - AdditionalContactInfo (NULL)
  - Demographics (NULL)
  - rowguid (UUID)
  - ModifiedDate (TIMESTAMP)

C:\Users\joshu\AppData\Local\Temp\ipykernel_13864\3949895965.py:4: SAWarning: Did not recognize type 'xml' of column 'AdditionalContactInfo'
  columns = inspector_oltp.get_columns('Person', schema='Person')
C:\Users\joshu\AppData\Local\Temp\ipykernel_13864\3949895965.py:4: SAWarning: Did not recognize type 'xml' of column 'Demographics'
  columns = inspector_oltp.get_columns('Person', schema='Person')

In [9]:
dim_customer = pd.read_sql_table('Person', oltp, schema='Person')

c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'AdditionalContactInfo'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'Demographics'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

In [10]:
dim_customer.head(2)

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,False,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92c4279f-1207-48a3-8448-4636514eb7e2,2009-01-07
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",d8763459-8aa8-47cc-aff7-c9079af79033,2008-01-24

In [13]:
dim_customer = pd.read_sql_table('Customer', oltp, schema='Sales')
person = pd.read_sql_table('Person', oltp, schema='Person')
email = pd.read_sql_table('EmailAddress', oltp, schema='Person', columns=['BusinessEntityID', 'EmailAddress'])
address = pd.read_sql_table('Address', oltp, schema='Person', columns=['AddressID', 'AddressLine1', 'City', 'StateProvinceID', 'PostalCode'])
state_province = pd.read_sql_table('StateProvince', oltp, schema='Person', columns=['StateProvinceID', 'Name'])
country_region = pd.read_sql_table('CountryRegion', oltp, schema='Person', columns=['CountryRegionCode', 'Name'])

c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'Demographics'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'AdditionalContactInfo'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'Demographics'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'AdditionalContactInfo'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'Demographics'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

In [12]:
dim_customer = dim_customer.merge(person, left_on='PersonID', right_on='BusinessEntityID', how='left')
dim_customer = dim_customer.merge(email, left_on='CustomerID', right_on='BusinessEntityID', how='left')
customer_address = pd.read_sql_table('CustomerAddress', oltp, schema='Sales', columns=['CustomerID', 'AddressID'])
dim_customer = dim_customer.merge(customer_address, on='CustomerID', how='left')
dim_customer = dim_customer.merge(address, on='AddressID', how='left')
dim_customer = dim_customer.merge(state_province, on='StateProvinceID', how='left', suffixes=('', '_StateProvince'))
dim_customer = dim_customer.merge(country_region, left_on='CountryRegionCode', right_on='CountryRegionCode', how='left', suffixes=('', '_CountryRegion'))

ValueError: Table CustomerAddress not found

In [ ]:
dim_customer = dim_customer.rename(columns={
    'FirstName': 'CustomerFirstName',
    'LastName': 'CustomerLastName',
    'EmailAddress': 'CustomerEmail',
    'AddressLine1': 'CustomerAddressLine1',
    'City': 'CustomerCity',
    'Name_StateProvince': 'CustomerStateProvince',
    'PostalCode': 'CustomerPostalCode',
    'Name_CountryRegion': 'CustomerCountryRegion'
})

In [ ]:
dim_customer = dim_customer.drop(columns=['PersonID', 'StoreID', 'TerritoryID', 'AccountNumber', 'rowguid', 'ModifiedDate', 'BusinessEntityID_y', 'BusinessEntityID'])

In [ ]:
dim_customer.index.name = 'CustomerKey'
dim_customer.index += 1

In [ ]:
dim_customer.head()