In [1]:
import yaml
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
from urllib.parse import quote
import holidays
from datetime import date

In [2]:
with open('./config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_oltp= config['AW_OLTP']
    config_olap= config['AW_OLAP']
    print(config_oltp)

{'drivername': 'postgresql', 'dbname': 'AW-OLTP', 'user': 'dropaax', 'password': 'lastimakevin1@', 'host': 'postgresql-ciencia-de-datos.postgres.database.azure.com', 'port': 5432}

In [3]:
url_oltp = (f"{config_oltp['drivername']}://{config_oltp['user']}:{quote(config_oltp['password'])}@{config_oltp['host']}:"
            f"{config_oltp['port']}/{config_oltp['dbname']}")
url_olap = (f"{config_olap['drivername']}://{config_olap['user']}:{quote(config_olap['password'])}@{config_olap['host']}:"
            f"{config_olap['port']}/{config_olap['dbname']}?sslmode=require")

print(url_oltp)
print(url_olap)

postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLTP
postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLAP?sslmode=require

In [4]:
oltp = create_engine(url_oltp)
olap = create_engine(url_olap)

In [5]:
dim_currency = pd.read_sql_table('Currency', oltp, schema='Sales')

In [6]:
dim_currency = dim_currency.rename(columns={'CurrencyCode': 'CurrencyAlternateKey'})

In [7]:
dim_currency = dim_currency.rename(columns={'Name': 'CurrencyName'})

In [8]:
dim_currency = dim_currency.sort_values(by='CurrencyName')

In [9]:
dim_currency = dim_currency.drop('ModifiedDate', axis=1)

In [10]:
dim_currency.reset_index(drop=True, inplace=True)
dim_currency.index += 1
dim_currency.index.name = 'CurrencyKey'

In [11]:
dim_currency.head(105)

            CurrencyAlternateKey     CurrencyName
CurrencyKey
1                            AFA          Afghani
2                            DZD   Algerian Dinar
3                            ARS   Argentine Peso
4                            AMD    Armenian Dram
5                            AWG   Aruban Guilder
...                          ...              ...
101                          KRW              Won
102                          JPY              Yen
103                          CNY    Yuan Renminbi
104                          ZWD  Zimbabwe Dollar
105                          PLN            Zloty

[105 rows x 2 columns]

In [12]:
dim_currency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 1 to 105
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CurrencyAlternateKey  105 non-null    object
 1   CurrencyName          105 non-null    object
dtypes: object(2)
memory usage: 1.8+ KB

In [13]:
dim_currency.to_sql('DimCurrency', olap, if_exists='replace', index_label='CurrencyKey')

105

: