In [39]:
import yaml
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
from urllib.parse import quote
import holidays
from datetime import date

In [40]:
with open('./config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_oltp= config['AW_OLTP']
    config_olap= config['AW_OLAP']
    print(config_oltp)

{'drivername': 'postgresql', 'dbname': 'AW-OLTP', 'user': 'dropaax', 'password': 'lastimakevin1@', 'host': 'postgresql-ciencia-de-datos.postgres.database.azure.com', 'port': 5432}

In [41]:
url_oltp = (f"{config_oltp['drivername']}://{config_oltp['user']}:{quote(config_oltp['password'])}@{config_oltp['host']}:"
            f"{config_oltp['port']}/{config_oltp['dbname']}")
url_olap = (f"{config_olap['drivername']}://{config_olap['user']}:{quote(config_olap['password'])}@{config_olap['host']}:"
            f"{config_olap['port']}/{config_olap['dbname']}?sslmode=require")

print(url_oltp)
print(url_olap)

postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLTP
postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLAP?sslmode=require

In [42]:
oltp = create_engine(url_oltp)
olap = create_engine(url_olap)

In [43]:
inspector_oltp = inspect(oltp)
inspector_olap = inspect(olap)

In [44]:
dim_product = pd.read_sql_table('Product', oltp, schema='Production')

c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'CatalogDescription'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)
c:\Users\joshu\Documents\ciencia de datos\proyeto-ETL\.venv\Lib\site-packages\pandas\io\sql.py:1725: SAWarning: Did not recognize type 'xml' of column 'Instructions'
  self.meta.reflect(bind=self.con, only=[table_name], views=True)

In [50]:
dim_product.index.name = 'ProductKey'
dim_product.index += 1

In [51]:
dim_product= dim_product.rename(columns={'ProductNumber': 'ProductAlternativeKey'})

In [46]:
dim_product= dim_product.rename(columns={'Name': 'EnglishProductName'})

In [47]:
dim_product= dim_product.drop('rowguid', axis=1)

In [48]:
dim_product =dim_product.drop('ModifiedDate', axis=1)

In [53]:
dim_product.head(600)

,ProductID,EnglishProductName,ProductAlternativeKey,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,Weight,DaysToManufacture,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate
ProductKey,,,,,,,,,,,,,,,,,,,,,
1,1,Adjustable Race,AR-5381,False,False,None,1000,750,$0.00,$0.00,...,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT
2,2,Bearing Ball,BA-8327,False,False,None,1000,750,$0.00,$0.00,...,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT
3,3,BB Ball Bearing,BE-2349,True,False,None,800,600,$0.00,$0.00,...,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT
4,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,$0.00,$0.00,...,NaN,0,None,None,None,NaN,NaN,2008-04-30,NaT,NaT
5,316,Blade,BL-2036,True,False,None,800,600,$0.00,$0.00,...,NaN,1,None,None,None,NaN,NaN,2008-04-30,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,994,LL Bottom Bracket,BB-7421,True,True,None,500,375,"$239,716.00","$5,399.00",...,223.00,1,None,13,None,5.0,95.0,2013-05-30,NaT,NaT
501,995,ML Bottom Bracket,BB-8107,True,True,None,500,375,"$449,506.00","$10,124.00",...,168.00,1,None,93,None,5.0,96.0,2013-05-30,NaT,NaT
502,997,"Road-750 Black, 44",BK-R19B-44,True,True,190-TRIAL- 162,100,75,"$3,436,496.00","$53,999.00",...,19.77,4,25,19,40,2.0,31.0,2013-05-30,NaT,NaT
503,998,"Road-750 Black, 48",BK-R19B-48,True,True,166-TRIAL- 83,100,75,"$3,436,496.00","$53,999.00",...,20.13,4,24,25,10,2.0,31.0,2013-05-30,NaT,NaT
504,999,"Road-750 Black, 52",BK-R19B-52,True,True,109-TRIAL- 297,100,75,"$3,436,496.00","$53,999.00",...,20.42,4,58,17,87,2.0,31.0,2013-05-30,NaT,NaT