In [58]:
import yaml
import pandas as pd
from sqlalchemy import create_engine, inspect
from urllib.parse import quote
import locale
import holidays

In [59]:
with open('./config.yml', 'r') as f:
    config = yaml.safe_load(f)
    config_oltp= config['AW_OLTP']
    config_olap= config['AW_OLAP']
    print(config_oltp)

{'drivername': 'postgresql', 'dbname': 'AW-OLTP', 'user': 'dropaax', 'password': 'lastimakevin1@', 'host': 'postgresql-ciencia-de-datos.postgres.database.azure.com', 'port': 5432}

In [60]:
url_oltp = (f"{config_oltp['drivername']}://{config_oltp['user']}:{quote(config_oltp['password'])}@{config_oltp['host']}:"
            f"{config_oltp['port']}/{config_oltp['dbname']}")
url_olap = (f"{config_olap['drivername']}://{config_olap['user']}:{quote(config_olap['password'])}@{config_olap['host']}:"
            f"{config_olap['port']}/{config_olap['dbname']}?sslmode=require")

print(url_oltp)
print(url_olap)

postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLTP
postgresql://dropaax:lastimakevin1%40@postgresql-ciencia-de-datos.postgres.database.azure.com:5432/AW-OLAP?sslmode=require

In [61]:
oltp = create_engine(url_oltp)
olap = create_engine(url_olap)

In [62]:
inspector_oltp = inspect(oltp)
inspector_olap = inspect(olap)

In [63]:
dim_date = pd.DataFrame({
    "FullDateAlternateKey" : pd.date_range(start="1/1/2005", end="12/31/2014", freq="D")
})

In [64]:
dim_date['DateKey'] = dim_date['FullDateAlternateKey'].dt.strftime('%Y%m%d').astype(int)
dim_date.set_index('DateKey', inplace=True)

In [65]:
dim_date["DayNumberOfWeek"] = dim_date["FullDateAlternateKey"].dt.strftime('%w').astype(int) + 1

In [66]:
dim_date["EnglishDayNameOfWeek"] = dim_date["FullDateAlternateKey"].dt.day_name()

In [67]:
dim_date["SpanishDayNameOfWeek"] = dim_date["FullDateAlternateKey"].dt.day_name(locale = 'es_ES.utf8')

In [68]:
dim_date["FrenchDayNameOfWeek_FR"] = dim_date["FullDateAlternateKey"].dt.day_name(locale = 'fr_FR.UTF-8')

In [69]:
dim_date["DayNumberOfMonth"] = dim_date["FullDateAlternateKey"].dt.day

In [70]:
dim_date["DayNumberOfYear"] = dim_date["FullDateAlternateKey"].dt.day_of_year

In [71]:
dim_date["WeekNumberOfYear"] = dim_date["FullDateAlternateKey"].dt.strftime("%U").astype(int) + 1

In [72]:
dim_date["EnglishMonthName"] = dim_date["FullDateAlternateKey"].dt.month_name(locale='en_US.utf8')

In [73]:
dim_date["SpanishhMonthName"] = dim_date["FullDateAlternateKey"].dt.month_name(locale = 'es_ES.utf8')

In [74]:
dim_date["FrenchMonthName"] = dim_date["FullDateAlternateKey"].dt.month_name(locale = 'fr_FR.UTF-8')

In [75]:
dim_date["MonthNumberOfYear"] = dim_date["FullDateAlternateKey"].dt.month

In [76]:
dim_date["CalendarQuarter"] = dim_date["FullDateAlternateKey"].dt.quarter

In [77]:
dim_date["CalendarYear"] = dim_date["FullDateAlternateKey"].dt.year

In [78]:
dim_date["CalendarSemester"] = (dim_date["FullDateAlternateKey"].dt.quarter + 1) // 2

In [79]:
dim_date["FiscalQuarter"] = (dim_date["FullDateAlternateKey"].dt.quarter + 1) % 4 + 1

In [80]:
dim_date["FiscalYear"] = (dim_date["FullDateAlternateKey"]+ pd.DateOffset(months=6)).dt.year

In [81]:
dim_date["FiscalSemester"] = ((dim_date["FullDateAlternateKey"].dt.quarter + 1) // 2) % 2 + 1

In [82]:
dim_date.head(3652)

,FullDateAlternateKey,DayNumberOfWeek,EnglishDayNameOfWeek,SpanishDayNameOfWeek,FrenchDayNameOfWeek_FR,DayNumberOfMonth,DayNumberOfYear,WeekNumberOfYear,EnglishMonthName,SpanishhMonthName,FrenchMonthName,MonthNumberOfYear,CalendarQuarter,CalendarYear,CalendarSemester,FiscalQuarter,FiscalYear,FiscalSemester
DateKey,,,,,,,,,,,,,,,,,,
20050101,2005-01-01,7,Saturday,Sã¡bado,Samedi,1,1,1,January,Enero,Janvier,1,1,2005,1,3,2005,2
20050102,2005-01-02,1,Sunday,Domingo,Dimanche,2,2,2,January,Enero,Janvier,1,1,2005,1,3,2005,2
20050103,2005-01-03,2,Monday,Lunes,Lundi,3,3,2,January,Enero,Janvier,1,1,2005,1,3,2005,2
20050104,2005-01-04,3,Tuesday,Martes,Mardi,4,4,2,January,Enero,Janvier,1,1,2005,1,3,2005,2
20050105,2005-01-05,4,Wednesday,Miã©rcoles,Mercredi,5,5,2,January,Enero,Janvier,1,1,2005,1,3,2005,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20141227,2014-12-27,7,Saturday,Sã¡bado,Samedi,27,361,52,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
20141228,2014-12-28,1,Sunday,Domingo,Dimanche,28,362,53,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
20141229,2014-12-29,2,Monday,Lunes,Lundi,29,363,53,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
20141230,2014-12-30,3,Tuesday,Martes,Mardi,30,364,53,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1
20141231,2014-12-31,4,Wednesday,Miã©rcoles,Mercredi,31,365,53,December,Diciembre,Dã©cembre,12,4,2014,2,2,2015,1

In [83]:
dim_date.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3652 entries, 20050101 to 20141231
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FullDateAlternateKey    3652 non-null   datetime64[ns]
 1   DayNumberOfWeek         3652 non-null   int32
 2   EnglishDayNameOfWeek    3652 non-null   object
 3   SpanishDayNameOfWeek    3652 non-null   object
 4   FrenchDayNameOfWeek_FR  3652 non-null   object
 5   DayNumberOfMonth        3652 non-null   int32
 6   DayNumberOfYear         3652 non-null   int32
 7   WeekNumberOfYear        3652 non-null   int32
 8   EnglishMonthName        3652 non-null   object
 9   SpanishhMonthName       3652 non-null   object
 10  FrenchMonthName         3652 non-null   object
 11  MonthNumberOfYear       3652 non-null   int32
 12  CalendarQuarter         3652 non-null   int32
 13  CalendarYear            3652 non-null   int32
 14  CalendarSemester        3652 non-null   int32
 15  FiscalQuarter           3652 non-null   int32
 16  FiscalYear              3652 non-null   int32
 17  FiscalSemester          3652 non-null   int32
dtypes: datetime64[ns](1), int32(11), object(6)
memory usage: 370.9+ KB

In [85]:
dim_date.to_sql('DimDate', olap, if_exists='replace', index_label='DateKey')

652

: